.table {
  display: flex;
  width: 50%;
  flex-direction: column;
  height: 50vh;
  overflow: scroll;
}

.cell {
  text-align: right;
  box-sizing: border-box;
  height: 18px;
  flex-grow: 0;
  width: 100%;
  list-style: none;
  width: 33.33%;
  padding: 3px 30px 3px 0;
}

@media (max-width: 600px) {
  .table {
    width: 100%;
    height: initial;
  }

  .buyTable {
    flex-direction: column;
  }

  .sellTable {
    flex-direction: column-reverse;
  }
}
