.headerWrapper {
  display: none;
  justify-content: space-between;
  padding: 5px 15px;
  align-items: center;
  font-size: 12px;
  justify-content: center;

  .spread {
    color: #545b69;
  }

  .digits {
    font-family: monospace;
  }
}

@media (max-width: 600px) {
  .headerWrapper {
    display: flex;
  }
}
