.headerWrapper {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  align-items: center;
  font-size: 12px;

  .title {
    color: white;
  }

  .spread {
    color: #545b69;
  }

  .digits {
    font-family: monospace;
  }

  .select {
    font-size: 12px;
    background-color: #303947;
    color: white;
    border: 0;
    outline: none;
    padding: 2px 3px;
    border-radius: 4px;
  }
}

@media (max-width: 600px) {
  .spread {
    display: none;
  }
}
