.panelsWrapper {
  display: flex;
  flex-direction: row;
}

.middleHeader {
  display: none;
}

@media (max-width: 600px) {
  .panelsWrapper {
    flex-direction: column-reverse;
  }

  .middleHeader {
    display: flex;
    justify-content: center;
  }
}
