.orderBookWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  padding: 0 50px;
}

.panelsWrapper {
  display: flex;
  flex-direction: row;
}

.middleHeader {
  display: none;
}

@media (max-width: 600px) {
  .orderBookWrapper {
    display: block;
    height: initial;
    padding: 0;
  }

  .panelsWrapper {
    flex-direction: column-reverse;
  }

  .middleHeader {
    display: flex;
    justify-content: center;
  }
}
