@import "../../../styles/colors.scss";

.entryWrapper {
  width: 100%;
  display: flex;
  position: relative;
  height: 18px;
  flex-grow: 0;
}

.entryWrapperBuy {
  flex-direction: row;
}

.entryWrapperSell {
  flex-direction: row-reverse;
}

.cell {
  text-align: right;
  box-sizing: border-box;
  list-style: none;
  width: 33.33%;
  font-family: monospace;
  color: white;
  padding: 3px 30px 3px 0;
}

.backgroundBuy {
  background-color: $color-green-1;
  right: 0;
}

.backgroundSell {
  background-color: $color-red-2;
  left: 0;
}

.priceCellBuy {
  color: $color-green-2;
}

.priceCellSell {
  color: $color-red-3;
}

.background {
  position: absolute;
  height: 100%;
  z-index: -1;
}

@media (max-width: 600px) {
  .backgroundBuy {
    left: 0;
    right: initial;
  }

  .entryWrapperBuy {
    flex-direction: row-reverse;
  }
}
